<html>

<head>
    <meta charset='utf8' />
    <link href='../bootstrap/css/bootstrap.min.css' rel='stylesheet' />
</head>

<body>
    <div class='container' style='padding-top: 5%;'>
        <div class='panel panel-default' style='width: 100%; max-width: 500px;display:block;margin:auto;'>
            <div class='panel-heading'>
                <img class='img-responsive' src='../img/logo.png' style='display:block;margin:auto;' />
            </div>
            <div class='panel-body'>

                <h3 class='text-danger text-center'>Thanh toán bị hủy!
                    <br>Quý khách vui lòng tạo lại lịch hoặc thanh toán lại.</h3>
                <p class='text-center'>Cảm ơn Quý khách đã sử dụng dịch vụ chăm sóc sức khỏe tại gia HomiCare.</p>
                <p class='text-center'>Thông báo này sẽ đóng trong 3 giây!</p>
            </div>
        </div>
    </div>
</body>

</html>